{% if site.dribbble.token %}
  {% include jribbble.html %}
  <script>
    // Get a list of your shots and display them in the DOM.
    jribbble.shots({token: "{{ site.dribbble.token }}"}, function(shotsArray) {
      document.querySelector(".shotsItem").innerHTML = shotsArray.reduce(function(html, shot) {
        return html + '<li><a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.normal + '"></a></li>';
      }, "");
    });
    
    // Get a single shot by id and display it as an `img` in the DOM.
    jribbble.shots("2055068", {token: "{{ site.dribbble.token }}"}, function(shotObject) {
      docment.getElementById("shot").innerHTML = '<img src="' + shot.images.normal + '">';
    });
    
    // Get the second page of your shots at 12 per page and display them in the DOM.
    jribbble.shots({token: "{{ site.dribbble.token }}", page: 2, per_page: 12}, function(shotsArray) {
      document.querySelector(".shotsItem").innerHTML = shotsArray.reduce(function(html, shot) {
        return html + '<li><a href="'+  shot.html_url + '" target="_blank"><img src="' + shot.images.normal + '"></a></li>';
      }, "");
    });

//     $.jribbble.setToken('{{ site.dribbble.token }}');
//     $.jribbble.users('{{ site.dribbble.username }}').shots({per_page: 62}).then(function(shots) {
//       var html = [];

//       shots.forEach(function(shot) {
//         html.push(
//           '<div class="shotsItem col-lg-3 col-md-4 col-sm-6">' +
//             '<a href="' + shot.html_url + '" target="_blank">' +
//               '<img src="' + shot.images.normal + '">' +
//             '</a>' +
//           '</div>'
//         );
//       });

//       $('.shots').html(html.join(''));
//     });
    
  </script>
{% endif %}
